/* _________________________________________________________________________________________________________________________________ */
/* medlemsskab */
.konArt {
  display: flex;
  justify-content: center;
  align-items: center;
}

article h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  padding-block: var(--desktopSmallSpacer);
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 50px auto;
  text-align: center;
}

td {
  border: 1px solid black;
  padding: 24px;
}

.konArt p {
  text-align: left;
  margin-inline: 20rem;
  line-height: 150%;
  padding-bottom: var(--desktopSmallSpacer);
}

.konArt p:nth-last-of-type(1) {
  padding-bottom: 7.6rem;
}

/* medlemsskab slut */
/* __________________________________________________________________________________________________________________________________ */

@media screen and (max-width: 900px) {
  /* Medlemsskab 
  ____________________________________________*/

  .konArt h2 {
    font-size: 2rem;
    margin: 0;
  }

  .konArt table {
    max-width: 90%;
    font-size: 1rem;
    margin-top: 0;
  }

  .konArt p {
    max-width: 100%;
    margin-inline: var(--mobileLargeSpacer);
    font-size: 1rem;
  }
}

/* Medlemsskab slut
  ____________________________________________*/

@media screen and (max-width: 400px) {
  .konArt p:nth-last-of-type(1) {
    padding-bottom: var(--mobileLargeSpacer);
  }
}
