/* TYPOGRAPHY */
/* ___________________________________ */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

/* VARIABLES */
/* ___________________________________ */

:root {
  /* Farver */

  --deepForest: #2e4600;
  --fernLeaf: #588c42;
  --freshMint: #82b56d;
  --clearSky: #87ceeb;
  --paleStone: #f5f1e4;
  --cardBackground: #d9d9d9;

  /* Spacere */

  --mobileSmallSpacer: 1.25rem;
  --mobileSmallSpacer: 0.9375rem;
  --mobileLargeSpacer: 1.875rem;

  --desktopSmallSpacer: 1.25rem;
  --desktopSMSpacer: 2.25rem;
  --desktopMediumSpacer: 4.375rem;
  --dekstopLargeSpacer: 6.25rem;

  /* Font weight */

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* GENERAL STYLING */
/* ___________________________________ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Epilogue", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Epilogue", serif;
  font-weight: var(--fw-bold);
  line-height: 150%;
}

p {
  font-family: "Epilogue", serif;
  font-weight: var(--fw-regular);
  line-height: 150%;
}

img {
  border-radius: 20px;
}

h1 {
  font-size: 3.125rem;
  font-weight: var(--fw-bold);
  text-align: center;
  padding-block: var(--desktopMediumSpacer);
}

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles HEADER */

header {
  position: sticky;
  top: 0;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 1.5625rem;
  background-color: var(--fernLeaf);
}

nav a img {
  height: 80px;
}

nav img {
  display: block;
  border-radius: 0;
  height: 200px;
}

nav ul {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

nav li {
  list-style-type: none;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: var(--fw-bold);
  font-size: clamp(0.8rem, 1.3vw, 1.375rem);
}

nav a:hover {
  text-decoration: underline var(--paleStone) 3px;
  text-underline-offset: 0.5rem;
}

.login {
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.login a {
  text-decoration: none;
}

nav i {
  font-size: 2.5rem;
}

/* _________________________________________________________________________________________________________________ */

/* TAGET FRA DENNE CODEPEN: https://codepen.io/alvarotrigo/pen/yLzaPVJ  og justeret til vores layout*/

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 40px;
  right: 25px;
  width: 40px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #000000;
  transition-duration: 0.25s;
  border-radius: 10px;
}

.menu__btn > span::before {
  content: "";
  top: -12px;
}

.menu__btn > span::after {
  content: "";
  top: 12px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 16px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

.menu__item:hover {
  background-color: var(--freshMint);
}

/* HEADER DONE */
/* _________________________________________________________________________________________________________________________________________________________________________ */

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles MAIN */



/* ____________________________________________________________________________________________________________________________________________ */
/* Børn og unge + RSOK'kerne + Hvad er O-kort + Kort og kompas ---- de 4 undersider*/

.gav4Sider {
  display: grid;
  grid-template-columns: 45% 1fr;
  gap: var(--desktopSmallSpacer);
  padding-inline: var(--desktopSmallSpacer);
  margin-block: var(--dekstopLargeSpacer);
}

.gav4Sider img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.gav4Sider p {
  font-size: 1.375rem;
  padding-bottom: var(--desktopSmallSpacer);
}

.gav4Sider i {
  font-size: 2rem;
  padding-bottom: var(--desktopSmallSpacer);
  color: var(--deepForest);
}

/* Børn og unge+RSOK'kerne + Hvad er O-kort + Kort og kompas ---- de 4 undersider SLUT */
/*________________________________________________*/




/* _________________________________________________________________________________________________________________________________________ */
/* FORSIDE */

/* Hero */

.hero {
    display: block;
    width: 100%;
    border-radius: 0;

}

/* Title / introtekst */

.intro h1 {
  padding: var(--desktopMediumSpacer);
  text-align: center;
  font-size: 3.75rem;
}

.intro p {
  padding-inline: 20%;
  font-size: 1.875rem;
  padding-bottom: var(--desktopMediumSpacer);
}

/* BIG CARD */

.bigCardSection {
    padding-inline: var(--dekstopLargeSpacer);
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: var(--dekstopLargeSpacer);
    margin-bottom: var(--desktopMediumSpacer);
}

.bigCard {
  background-color: #f5f1e4;
  height: 700px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}

.bigCard h2 {
  font-size: clamp(2rem, 2.3vw, 2.5rem);
  text-align: center;
  padding-inline: 3.5rem;
}

.bigCard P {
  padding: var(--desktopSMSpacer) var(--desktopSMSpacer);
  font-size: clamp(1.125rem, 1.8vw, 2rem);
}

.bigCard a {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding-block: var(--desktopSmallSpacer);
  background-color: var(--freshMint);
  font-size: 1.125rem;
  text-decoration: none;
  color: black;
  font-weight: var(--fw-medium);
}

.bigCard a:hover {
  transition: ease 0.5s;
  transform: scale(1.05);
}

/* Kommende events */

.futureEvents {
    padding-block: var(--desktopSmallSpacer);
    margin-bottom: 50px;
}

.futureEvents h2 {
  text-align: center;
  padding-bottom: var(--desktopSMSpacer);
  font-size: 2.25rem;
}

/* Small cards */

.smallCardWrapper {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--dekstopLargeSpacer);
}

.smallCard {
  width: 20%;
  height: 450px;
  background-color: var(--paleStone);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.smallCard img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center top;
  border-radius: 20px 20px 0 0;
}

section .smallCard h3 {
    font-size: clamp(1.2rem, 1.3vw, 1.6rem);
    font-weight: var(--fw-semibold);
    text-align: center;
    padding-inline: 0.5rem;

}

.smallCard p {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    font-weight: var(--fw-medium);
    text-align: center;
    padding-inline: 0.5rem;

}

.smallCard a {
  display: block;
  text-align: center;
  padding-block: 1rem;
  width: 60%;
  margin: 0 auto;
  background-color: var(--freshMint);
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: var(--fw-medium);
  font-size: clamp(0.8rem, 1.3vw, 1.125rem);
}

.smallCard a:hover {
  transition: ease 0.5s;
  transform: scale(1.05);
}

/* FORSIDE SLUT
_____________________________________________________________________________________________________________________________________________________ */

/* ______________________________________________________________________________________________________________________ */
/* OM KLUBBEN */

.omkMain {
    padding-inline: var(--dekstopLargeSpacer);
}

.omkMain h2 {
    font-size: 2rem;
    padding-bottom: var(--desktopSMSpacer);
    text-align: center;
}

.omkMain h3 {
    padding-bottom: var(--desktopSmallSpacer);
    font-size: 1.625rem;
}

.omkMain h4 {
    font-size: 1.3rem;
}

.omkIntro {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: var(--desktopSmallSpacer);
}

.omkIntro img {
  height: 75%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.omkIntro p {
    font-size: clamp(0.85rem, 1.2vw, 2rem);
    padding-right: 1rem;
}

.introText h4 {
font-size: clamp(1rem, 1.2vw, 2rem);
}

#omkIntroH4{
    padding-top: var(--mobileSmallSpacer);
}

.kontaktpersoner {
  margin-bottom: 7.5rem;
}

.employeeCardWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.5rem;
}

.mobileDisplay {
    display: grid;
    justify-content: space-between;
}

.employeeCard {
    width: 300px;
    display: grid;
    gap: 0.5rem;
}

.employeeName {
    padding-bottom: 1rem;
}

.employeeCard img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.employeeCard h3 {
    font-size: 1.25rem;
    padding: 0;
}

.employeeCard p {
  font-size: 1.25rem;
}

.employeeCard i {
  font-size: 1.4rem;
}

.employeeCard a {
  color: black;
  font-size: 1rem;
}

.employeeCard img {
  border-radius: 20px;
  object-fit: center;
}

.phone {
    padding-bottom: 1rem;
}

.phone i {
  color: var(--freshMint);
  padding-right: 0.5rem;
}

.mail i {
  color: var(--clearSky);
  padding-right: 0.5rem;
}

.bestyrelsesmedlemmer {

  margin-bottom: 7.5rem;
}





/* Tabel */


.omkTable td:nth-child(odd) {
    padding-right: 3rem;
}

.omkTable td {
    border: 1px solid black;
    font-size: 1.5rem;
    padding: 1rem;
    width: 50%;
}

.omkTable td:nth-child(even) {
    font-weight: bold;
}

.omkTable {
    width: 80%;
    margin:  0 auto var(--desktopMediumSpacer) auto;
    border-collapse: collapse;
}

.omkTable td a {
    color: black;
    

}

/* Om klubben slut */
/* __________________________________________________________________________________________________________________________________ */
¨













/* ______________________________________________________________________________________________________________________________ */
/* Events */

.eventHero {
  width: 100%;
  border-radius: 0;
}

.eventsArticle {
  background-color: red;
  display: flex;
  margin-bottom: var(--dekstopLargeSpacer);
}

article img {
  height: 300px;
  width: 500px;
  display: block;
  object-fit: cover;
  margin-right: var(--dekstopLargeSpacer);
}

.eventsArticle span p {
  font-weight: bold;
}

/* Events slut */
/* _______________________________________________________________________________________________________________________________ */




/* _________________________________________________________________________________________________________________________________ */
/* Godt at vide */

.wideCards {
  width: 100%;
  align-items: center;
}

.wideCard {
  width: 90%;
  margin: 0 auto var(--desktopMediumSpacer) auto;
  height: 24.75rem;
  background-color: #f5f1e4;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

}

.wideCard img{
  border-radius: 20px 20px 0 0;

}
.wideCardImg1 {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: 100% 80%;
}
.wideCardImg2 {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: 100% 30%;
}
.wideCardImg3 {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: 100% 40%;
}
.wideCardImg4 {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: 100% 30%;
}
.wideCardImg5 {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: 100% 30%;
}

.wideCardContent {
  text-align: center;
  padding: 1rem;
  height: 40%;
}

.wideCardTitle {
  font-size: clamp(1.3rem,2vw,2rem);
  color: #000000;
  padding: 1.5rem;
}

.wideCard a {
  width: 50%;
  margin: 0 auto;
  padding-block: 1rem;
  display: block;
  color: black;
  text-decoration: none;
  background-color: var(--freshMint);
  border-radius: 20px;
  font-size: clamp(0.8rem,1.2vw,1.2rem);
  font-weight: var(--fw-medium);
}

.wideCard a:hover {
  transition: ease 0.3s;
  transform: scale(1.05);
}

/* Godt at vide slut */
/* __________________________________________________________________________________________________________________________________ */









/* _________________________________________________________________________________________________________________________________ */
/* medlemsskab */
.konArt {
  display: flex;
  justify-content: center;
  align-items: center;
}

article h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  padding-block: var(--desktopSmallSpacer);
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 50px auto;
  text-align: center;
}

td {
  border: 1px solid black;
  padding: 24px;
}

.konArt p {
  text-align: left;
  margin-inline: 20rem;
  line-height: 150%;
  padding-bottom: var(--desktopSmallSpacer);
}

.konArt p:nth-last-of-type(1) {
  padding-bottom: 7.6rem;
}

/* medlemsskab slut */
/* __________________________________________________________________________________________________________________________________ */

/* _________________________________________________________________________________________________________________________________ */
/* om orienteringsløb */

.omoMain {
  max-width: 100%;
}

#omoHeroImg {
  width: 100%;
  height: 60vh;
  border-radius: none;
  object-fit: cover;
  object-position: center center;
}

.omoMain h2 {
  text-align: center;
  margin-block: var(--desktopSMSpacer);
  font-size: 2.5rem;
}

.omoArticle h2 {
  margin-bottom: 0;
  padding-block: var(--desktopSMSpacer) var(--mobileSmallSpacer);
}

.omoWidecard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto var(--desktopMediumSpacer) auto;
  padding-inline: var(--dekstopLargeSpacer);
  height: 32rem;
  border-radius: 0.625rem;


}

.omoTekst {
  background-color: var(--paleStone);
  border-radius: 0 20px 20px 0;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

#omoWidecardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.omoWidecard .omoWidecardContent {
  line-height: 1.8rem;
  padding: var(--desktopSMSpacer);
}

.omoSmallCardWrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-inline: ;
}

.omoSmallCardWrapper h3{
  padding-block: var(--mobileSmallSpacer);
}

.omoSmallCard {
  width: 25%;
}

.omoSmallCard img {
  width: 100%;
}


/* om orienteringsløb slut */
/* __________________________________________________________________________________________________________________________________ */






/* _________________________________________________________________________________________________________________________________ */
/* træninger */

.traSmallCardWrapper {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--dekstopLargeSpacer);
}

.traH2 {
  text-align: center;
  padding-block: var(--desktopMediumSpacer);
  font-size: 3.125rem;
}

.traCard {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 30rem;
  background-color: white;
  border-radius: 20px;
  padding-bottom: var(--desktopMediumSpacer);
}

.traCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center 70%;
  border-radius: 20px;
}

.traCard h3 {
  font-size: clamp(1.2rem, 1.8vw, 1.8rem);
  font-weight: var(--fw-semibold);
  text-align: center;
  padding-block: 0.8rem;
}

.traCard p {
  font-size: clamp(1rem, 1.5vw, 1.375rem);
  font-weight: var(--fw-medium);
  text-align: center;
  padding-inline: 0.5rem;
}

.traCard a {
  display: block;
  text-align: center;
  padding-block: 1rem;
  width: 60%;
  margin: 0 auto;
  background-color: var(--freshMint);
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: var(--fw-medium);
  font-size: clamp(0.8rem, 1.3vw, 1.125rem);
}

.traMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: var(--dekstopLargeSpacer);
  gap: var(--desktopSmallSpacer);
  margin-bottom: var(--dekstopLargeSpacer);
}

.traMain img {
  width: 100%;
  max-height: 37rem;
  border-radius: 20px;
  object-fit: cover;
  object-position: center center;
}

.traBody {
  width: 100%;

}

.traBody p {
  padding-bottom: 1rem;
}

/* træninger slut */
/* __________________________________________________________________________________________________________________________________ */

/* MAIN DONE */
/* _________________________________________________________________________________________________________________________________________________________________________ */

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles FOOTER */

footer {
  height: 100px;
  background-color: var(--fernLeaf);
}

.footerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 20%;
    background-color: var(--fernLeaf);

}

.socialMedia {
  display: flex;
  justify-content: center;
  gap: var(--desktopSmallSpacer);
}

.socialMedia i {
  font-size: 4rem;
}

.socialMedia a {
  color: black;
}

.footerLogo {
  display: grid;
  place-items: center;
  align-items: center;
  gap: 0.3rem;
}

.footerLogo img {
    height: 50px;
    display: block;
    border-radius: 0;
}

.footerLogo p {
    font-size: 0.6rem;
    padding: 0;
    font-weight: var(--fw-semibold);
}

.footerPolitik {
  display: grid;
  place-items: center;
  gap: var(--desktopSmallSpacer);
}

.footerPolitik a {
  color: black;
  font-size: 1.375rem;
  font-weight: var(--fw-semibold);
}


/* _______________________________________________________________________________________________________________ */
/* MEDIA QUERRIES */

@media screen and (max-width: 1359px) {
  .events {
    padding: var(--desktopSmallSpacer);
  }

  .eventsArticle img {
    margin-right: var(--desktopMediumSpacer);
  }

  .eventsArticle td {
    padding-bottom: 1.2rem;
  }
}
/* ____________________________________________________________________________________________________________________________________ */







@media screen and (max-width: 1279px) {
  /* ______________________________________________________________________________________________________________________________ */
  /* FORSIDE */


  /* Nav */

  nav {
    height: 80px;
  }

  nav a img {
    height: 60px;
    display: block;
  }

  nav i {
    font-size: 2rem;
  }

  



  /* Intro sektion */

  .intro p {
    padding: var(--desktopSmallSpacer);
    font-size: 1rem;
  }



 /* BIG CARD */
    
.bigCardSection {
 padding-inline: var(--desktopSmallSpacer);
 }
    
.bigCard {
 height: 330px;
 padding: var(--desktopSMSpacer);
}
    
 .bigCard h2 {
 padding: 0;
 font-size: 1.125rem;
 }
    
.bigCard p {
 padding: 0;
 font-size: 1rem;
}
    
.bigCard a {
 padding-block: 0.8rem;
 font-size: 0.7rem;
}



/* Small cards */
    
.smallCardWrapper {
 padding-inline: var(--mobileSmallSpacer);
}
    
.smallCard {
 width: 25%;
}



/* Footer */

.footerWrapper {
 padding-inline: 10%;
}

/* Forside SLUT
____________________________________________________________________________________________________________ */





  /* ________________________________________________________________________________________________________ */
    /* Om klubben  */

    .omkMain {
        padding-inline: var(--desktopSmallSpacer);
    }

    .employeeCard {
        width: 220px;
    }

    .employeeCard img {
        width: 220px;
        height: 150px;
    }

    .omkMain h1 {
        padding-block: var(--mobileLargeSpacer);
    }

/* Om klubben SLUT
_________________________________________________________________________________________________________________ */


/* _____________________________________________________________________________________________ */
/* Om Orienteringsløb */
.omoWidecard {
  
  padding-inline: var(--mobileSmallSpacer);


}






/* ___________________________________________________________________________________________________
Træninger */
.traSmallCardWrapper {
  padding-inline: var(--mobileLargeSpacer);
}

.traCard {
  height: 23rem;
  padding-bottom: 1rem;
  
}

.traCard img {
  height: 180px;
}

.traMain {
  padding-inline: var(--mobileLargeSpacer);
}

/* Træninger SLUT
______________________________________________________________________________________________________ */


/* ________________________________________________________________________________________________ */
/* 4 undersider */

  .gav4Sider {
    grid-template-columns: 1fr;
    margin-block: var(--desktopMediumSpacer);
  }

/* 4 undersider */
/* ______________________________________________________________________________________________________________ */
}




@media screen and (max-width: 900px) {

  /* _____________________________________________________________________________________________________________ */
  /* Forside */

  /* HEADER */

  nav ul {
    display: none;
  }

  .login {
    display: none;
  }

.intro h1 {
font-size: 2rem;
padding-block: var(--mobileLargeSpacer);
}


/* _______________________________________________________________________________________________________________ */
/* MEDIA QUERRIES */




  nav a:hover {
    text-decoration: none;
  }




    /* Intro text */

.omkMain h1 {
 font-size: clamp(1.5rem, 5vw, 2.5rem);
 padding-block: var(--mobileLargeSpacer);
}

.omkIntro p {
 padding-block: 0 var(--mobileLargeSpacer);
 font-size: clamp(1rem, 2vw, 1.2rem);
}

.introText h4 {
  padding-left: var(--mobileLargeSpacer);
}




    /* Big card */

.bigCard {
 padding: var(--mobileLargeSpacer);
 gap: 1rem;
}

.bigCardSection {
 grid-template-columns: 1fr;
 padding-top: 0;
}




    /* Small card */

.smallCardWrapper {
 flex-direction: column;
 gap: var(--mobileLargeSpacer);
}

.smallCard {
 width: 100%;
 gap: 0;
}

section .smallCard h3 {
  font-size: clamp(1.2rem, 4vw, 2rem);
 }

.smallCard p {
 font-size: clamp(1rem, 4vw, 1.375rem);
 font-weight: var(--fw-medium);
 text-align: center;
 padding-inline: 0.5rem;

}

.smallCard a {
 font-size: clamp(1rem, 3vw, 1.2rem);
}


    
    /* Footer */
      
footer {
 height: 80px;
}
      
.footerWrapper {
  padding-inline: 5%;
}
      
.socialMedia {
  gap: 2rem;
}
      
.socialMedia i {
  font-size: 2rem;
}
      
.footerLogo {
  gap: 0.2rem;
}
      
.footerLogo img {
  height: 40px;
}
      
.footerLogo p {
  font-size: 0.5rem;
}
      
.footerPolitik a {
  font-size: 0.8rem;
}

/* FORSIDE SLUT
_____________________________________________________________________________________ */





    /* Om klubben
    ______________________________________________________________ */

    .omkMain {
        padding: 0;
    }

    .omkIntro {
        display: block;
    }

    .omkMain h1 {
        padding-block: var(--mobileLargeSpacer);
    }

    .omkMain h2 {
   padding-block: var(--mobileLargeSpacer);
   font-size: clamp(1.2rem, 4.5vw, 2rem);
   padding-bottom: var(--desktopSMSpacer);
   text-align: center;
  }
                

    .omkMain img {
        border-radius: 0;
        padding-bottom: var(--mobileLargeSpacer);
    }

    .omkMain p{
        padding-inline: var(--mobileLargeSpacer);
    }

    .employeeCardWrapper {
        display: block;
        padding-left:var(--mobileLargeSpacer) ;
        margin: 0;
    }

    .kontaktpersoner {
        margin-bottom: var(--mobileLargeSpacer);
    }

    .bestyrelsesmedlemmer {
        margin-bottom: var(--mobileLargeSpacer);
    }

    .employeeCard {
        width: 100%;
        display: flex;
        padding: 0 0 var(--mobileLargeSpacer) 0;
    }

    .employeeCard img {
        width: 30%;
        height: 150px;
        padding: 0;
        margin-right: var(--mobileSmallSpacer);
        border-radius: 20px;
    }

    .omkMain h3 {
        padding-inline: var(--mobileLargeSpacer);
    }

    .employeeName h4 {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
    }

    .employeeName p{
        font-size: clamp(1rem, 2.5vw, 1.5rem);
    }

    .mobileDisplay i {
        font-size: 1.2rem;
    }

    .mobileDisplay a {
        font-size: clamp(0.9rem, 2.5vw, 1.5rem);
    }

    .employeeName {
        padding: 0;
    }

    .employeeName p {
        padding: 0;
    }

    .phone {
        display: inline-block;
        padding: 0;
    }
    



    /* Tabel */

    .omkTable tr {
        display: grid;
        border-bottom: 1.5px solid black;

    }

   .omkTable td {
        width: 100%;
        border:none;
        font-size: clamp(1.2rem, 4vw, 2rem);
    }

  .omkTable td:nth-of-type(even){
        padding-top:0;
    }

  .omkTable td:nth-of-type(odd) {
        padding-bottom: 0.5;
    }










/* ____________________________________________ */
/* Medlemsskab */
    
.konArt h2 {
 font-size: 2rem;
 margin: 0;
}
    
.konArt table {
 max-width: 90%;
 font-size: 1rem;
 margin-top: 0;
}

.konArt p {
 max-width: 100%;
 margin-inline: var(--mobileLargeSpacer);
 font-size: 1rem;
}

/* Medlemsskab slut
____________________________________________*/




/* ___________________________________________ */
/* Godt at vide */

.wideCardContent a {
    width: 75%;
}

.gavH1 {
  font-size: 2.2rem;
  padding-block: var(--mobileLargeSpacer);
}

/* Godt at vide SLUT
__________________________________________________ */




/* _________________________________________________ */
/* Events */

.events {
padding: 0.5rem;
font-size: 2.5rem;
}
    
.eventsArticle {
 flex-direction: column;
 height: auto;
 font-size: clamp(1rem, 1vw, 1.2rem);
 margin-inline: var(--desktopMediumSpacer);
}
    
 .eventsArticle img {
 width: 100%;
 border-bottom-left-radius: 0px;
 border-top-right-radius: 20px;
}
    
 .eventsArticle td:nth-child(odd) {
 font-weight: bold;
 padding-right: 2rem;
 }
    
.eventsArticle table {
 padding-top: 2rem;
}
    
    
.eventsArticle td {
 padding-bottom: 1rem;
}

  /* Events SLUT 
  ____________________________________________________________________*/


  /* _________________________________________________________________ */
    /* 4 undersider */
  
    .content h2 {
      font-size: clamp(1.2rem, 2vw, 1.6rem);
    }
  
    .gav4Sider {
      margin-top: var(--mobileLargeSpacer);
    }
  
    .gav4Sider img {
      height: 400px;
    }
  
    .gav4Sider p {
      font-size: clamp(1rem, 2vw, 1.4rem);
      padding-bottom: var(--desktopSmallSpacer);
    }


/* 4 undersider */
/* _______________________________________________________________ */


/* __________________________________________________________________ */
/* Træninger */

.traSmallCardWrapper {
  flex-direction: column;
  padding-inline: var(--mobileSmallSpacer);
}

.traCard {
  width: 100%;
  height: 450px;
  padding-bottom: 0;
}

.traCard img {
  height: 70%;
}

.traMain {
  grid-template-columns: 1fr;
  padding-inline: var(--mobileSmallSpacer);
}

.traH2{
  font-size: 1.5rem;
  padding-block: var(--mobileLargeSpacer);
}

.traCard h3 {
  font-size: clamp(1.5rem,4vw,2rem);
}

.traCard p {
  font-size: clamp(1rem,2.5vw,1.3rem);
}


/* ______________________________________________________ */
/* Om Orienteringsløb */

.omoWidecard {
grid-template-columns: 1fr;
height: auto;
margin-bottom: var(--mobileLargeSpacer);
}

#omoWidecardImg {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.omoTekst {

  border-radius: 0 0 20px 20px;
}

.omoMain h2 {
  font-size: clamp(2rem,5vw,3rem);
  padding-bottom: var(--mobileSmallSpacer);
}

.omoMain h1 {
  font-size: clamp(2.2rem, 7vw, 3rem);
  padding-block: var(--mobileLargeSpacer);
}







}





@media screen and (min-width: 900px) {
  nav .hamburger-menu {
    display: none;

  }
}

@media screen and (max-width: 625px) {
  .events {
    padding: 0.2rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {


/* Medlemskab */

  .konArt p:nth-last-of-type(1) {
    padding-bottom: var(--mobileLargeSpacer);
  }



/* Events */
.eventsArticle {
  margin-inline: 1.5rem;

}

}

