/* _____________________________________________________ */
/* Events */

.eventHero {
  width: 100%;
  border-radius: 0;
}

.eventsArticle {
  background-color: red;
  display: flex;
  margin-bottom: var(--dekstopLargeSpacer);
}

article img {
  height: 300px;
  width: 500px;
  display: block;
  object-fit: cover;
  margin-right: var(--dekstopLargeSpacer);
}

.eventsArticle span p {
  font-weight: bold;
}

.eventsArticle td {
  padding-bottom: 1rem;
}

td:nth-child(odd) {
  font-weight: bold;
  padding-right: 2rem;
}

.eventsArticle table {
  padding-top: 2rem;
}

/* Events slut*/
/* ________________________________________________________________________*/

/* _______________________________________________________________________________________________________________ */
/* MEDIA QUERRIES */
@media screen and (max-width: 1359px) {
  .events {
    padding: var(--desktopSmallSpacer);
  }

  .eventsArticle img {
    margin-right: var(--desktopMediumSpacer);
  }

  .eventsArticle td {
    padding-bottom: 1.2rem;
  }
}

@media screen and (max-width: 900px) {
  .events {
    padding: 0.5rem;
    font-size: 2.5rem;
  }

  .eventsArticle {
    flex-direction: column;
    height: auto;
    font-size: clamp(1rem, 1vw, 1.2rem);
    margin-inline: var(--desktopMediumSpacer);
  }

  .eventsArticle img {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
  }
}

@media screen and (max-width: 625px) {
  .events {
    padding: 0.2rem;
    font-size: 2rem;
  }

  .eventsArticle {
    margin-inline: 1.5rem;
  }
}
